# defalt
*.o
*.d
*.a
*.so
*.dylib
*.dll
*.lib
*.exp
*.def
*.rc
*.res
*.obj
*.exe
.vscode

# subject
subject/
en.subject.pdf
en.subject.md

# .git
.gitkeep

# playground
playground/*.out

# forbidden
/lib
/libft
philo
